
<div *ngIf="servidores">
    <h2><span jhiTranslate="sicubApp.servidores.detail.title">Servidores</span> {{servidores.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sicubApp.servidores.nome">Nome</span></dt>
        <dd>
            <span>{{servidores.nome}}</span>
        </dd>
        <dt><span jhiTranslate="sicubApp.servidores.sgdb">Sgdb</span></dt>
        <dd>
            <span jhiTranslate="{{'sicubApp.Sgdb.' + servidores.sgdb}}">{{servidores.sgdb}}</span>
        </dd>
        <dt><span jhiTranslate="sicubApp.servidores.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'sicubApp.Tipo.' + servidores.tipo}}">{{servidores.tipo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'servidores/'+ servidores.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
