@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }

  mat-toolbar-row {
    justify-content: space-between;
  }

  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .full-width {
    width: 90%;
  }

  .full-width-button-login{
   width: 100%;
  }

  .mat-dialog-container {
    padding: 0 !important;

  }

  .padding-20 {
    padding: 20px;
  }

  .padding-10 {
    padding: 10px;
  }

  .margin-top-login{
  margin-top:1rem;

  }

  .branco-gelo {
    color: whitesmoke;
  }

  .backcolor-indigo-a100 {
    background-color: #1A237E;
  }

  .scroll-off {
    overflow: hidden !important;
  }

  .burguer-icon {
    position: absolute;
    margin: 10px;
    font-size: 30px;
    margin-top: 18px;
  }

  .mat-pseudo-checkbox {
    display: none !important;
  }

   .inner {
      padding: 5px;
      -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.55);
      -moz-box-shadow: 0 2px 3px rgba(0,0,0,.55);
  }

  .title-login{
    margin-top: 0.5rem;
    margin-left: 3.5rem;
  }

  .alert-font{
  font-size: 12px;
  }

  .alert-link-senha{
  margin-top: 0.3rem;
  font-size: 12px;
  padding: 0px !important;
  }

  .logo-img2 {
              height: 45px;
              width: 70px;
              display: inline-block;
              vertical-align: middle;
              background: url("../../content/images/sicub2.png") no-repeat center center;
              background-size: contain;
              margin-top: 0.5rem;
              margin-left: -1rem;


          }
.close-button{
    margin-top: -2rem;
    margin-right: -1rem;
}

#visivel{
    display:none;
}


.mat-checkbox{
    margin-right: 0.3rem;
}

.mat-fab {
    position: absolute !important;
    right: 20px;
    top: 10px;
}

  .full-width-search {
    width: 100%;
    margin-top: 1rem;
  }


@media screen and (max-width: 992px) {
    .mat-fab {
    	   right: 0px;
           top: 0px;
    	}
 }


